<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="*.cxml" verb="GET" type="PivotServer.CxmlHandler"/>
      <add path="*.dzc" verb="GET" type="PivotServer.DzcHandler"/>
      <add path="*.dzi" verb="GET" type="PivotServer.DziHandler"/>
      <add path="*/dzi/*_files/*/*_*.jpg" verb="GET" type="PivotServer.DeepZoomImageHandler"/>
      <add path="*_files/*/*_*.jpg" verb="GET" type="PivotServer.ImageTileHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!-- IIS uses these handler configuration values -->
    <handlers>
      <!--
            A generic handler that responds to requests for any CXML.
            You may leave this section as is, and place your collection factory assemblies into the
            bin folder of this ASP.NET Application for them to be used.
            Alternatively, you may add classes that implement the IHttpHandler (or HttpAsyncHandler)
            interface yourself and replace the generic handler below with the handlers specific to
            your CXML path.
            See the HttpHandler.cs source file for the generic implementation.
        -->
      <add name="CXML" path="*.cxml" verb="GET" type="PivotServer.CxmlHandler"/>

      <!-- Deep Zoom Collection and Deep Zoom Image XML and image handlers -->
      <add name="DZC" path="*.dzc" verb="GET" type="PivotServer.DzcHandler"/>
      <add name="DZI" path="*.dzi" verb="GET" type="PivotServer.DziHandler"/>
      <add name="DeepZoomImage" path="*/dzi/*_files/*/*_*.jpg" verb="GET" type="PivotServer.DeepZoomImageHandler"/>
      <add name="ImageTile" path="*_files/*/*_*.jpg" verb="GET" type="PivotServer.ImageTileHandler"/>
    </handlers>

    <!--
    <staticContent>
        <mimeMap fileExtension=".cxml" mimeType="text/cxml" />
        <mimeMap fileExtension=".dzc" mimeType="text/xml" />
        <mimeMap fileExtension=".dzi" mimeType="text/xml" />
    </staticContent>
-->
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="MashupDesignTool.Web.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="MashupDesignTool.Web.MashupToolWCFService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="MashupDesignTool.Web.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="MashupDesignTool.Web.Service1.customBinding0"
            contract="MashupDesignTool.Web.Service1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MashupDesignTool.Web.MashupToolWCFService">
        <endpoint address="" binding="customBinding" bindingConfiguration="MashupDesignTool.Web.MashupToolWCFService.customBinding0"
            contract="MashupDesignTool.Web.MashupToolWCFService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
